@charset "UTF-8";

/*===================== VARIABLES =====================*/

:root{
    font-size: 62.5%; /* 1rem = 10px*/
    /* fonts */
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
    --big-title-font-size: 6.5rem;
    --title-font-size: 3.5rem;
    --subtitle-font-size: 1.6rem;

    --header-height: 12rem;

    --hue-base: 100;
    --hue-base-second:30;

    /*HSL color mode*/
    --color-white: hsl(var(--hue-base), 27%, 96%);
    --color-green: hsl(var(--hue-base), 23%, 31%);
    --color-orange: hsl(var(--hue-base-second), 100%, 55%);
    --color-brown: hsl(var(--hue-base-second), 26%, 47%); 
    --color-yellow: hsl(60, 94%, 62%);
}
/* "" */

/*===================== RESET =====================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===================== GENERAL =====================*/

html {
    scroll-behavior: smooth;
}

a{
    color: var(--color-white);
    text-decoration: none;
    list-style: none;
}

h1{
    font-size: var(--big-title-font-size);
    text-align: center;
    color: var(--color-white);
    margin-bottom: 2rem;
}

h2{
    font-size: var(--title-font-size);
    color: var(--color-white);
    text-align: center;
    margin-inline: auto;
}

h3{
    font-size: var(--title-font-size);
    text-align: center;
    color: var(--color-white);
}

p{
    font-size: var(--subtitle-font-size);
    color: var(--color-white);
    line-height: 2.5rem;
    margin-block: 3rem;
    display: flex;
}

body{
    height: 100vh;
    overflow-x: hidden;
}
main{
    display: flex;
    flex-direction: column;
}

.button {
    background-color: var(--color-orange); /* Cor de fundo verde */
    border: none; /* Sem bordas */
    color: white; /* Cor do texto */
    padding: .15rem .32rem; /* Espaçamento interno do botão */
    text-align: center; /* Centralizar texto */
    text-decoration: none; /* Remover sublinhado do texto */
    display: inline-block; /* Exibição inline */
    font-size: .16; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    margin: .4rem .2rem; /* Margens ao redor do botão */
    cursor: pointer; /* Muda o cursor para mãozinha */
    border-radius: .12rem; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Animação suave para mudança de cor */
}

.flex{
    display: flex;
}
.button:hover {
    background-color: var(--color-white); /* Cor de fundo ao passar o mouse */
}

.button:active {
   background-color: var(--color-brown); /* Cor de fundo ao clicar */
}

.social-media{
    display: flex;
    margin-right: 3rem;
    margin-left: 1.5rem;
    justify-content: space-between;
}

.social-icons{
    margin: .5rem;
    margin-right: 1.5rem;
    font-size: 2.4rem;
    color: var(--color-orange);
    cursor: pointer;
}

.social-icons:hover{
    color: var(--color-white);
}

/*===================== NAVIGATION =====================*/

    /*================= MOBILE ==================*/


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-green);
    height: var(--header-height);
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list li{
    letter-spacing: .4rem;
    margin-inline: 2rem;
    color: white;
    font-size: var(--subtitle-font-size);
    cursor: pointer;
}

.nav-list a li:hover{
    color: var(--color-orange);
}

.nav-list.active{
    transform: translateX(0);
    overflow-x: hidden;
}

.mobile-menu{
    cursor: pointer;
}

.mobile-menu div{
    display: none;
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-.8rem, .8rem);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-.8rem, -.8rem);
}

/*===================== HOME =====================*/

#home{
    width: 99vw;
    height: calc(100vh - var(--header-height));/*Recortar a altura do menu da imagem de fundo da home*/
    margin-inline: auto; 
    background-image: url("../../images/frango-glass.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .home{ 
    max-width: 80rem;
    margin-top: 20rem;
    margin-inline: auto;
    text-align: center;
}
.logo{
    width: 8rem;
    margin-left: 4rem;
}

/*===================== ABOUT =====================*/

#about{
    background-color: var(--color-brown);
    text-align: center;
    padding-block: 6rem;
    display: flex;
    justify-content: center;
}

#about .content-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10rem;
    height: 100vh;
}

#about .image-m{
    max-width: 50rem;
    border-radius: 1rem;
    margin-inline: auto;
}

#about .text-about{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    width: 50rem;
    color: var(--color-white);
    margin-inline: auto;
}

#about .text-about p{
    width: 50rem;
    color: var(--color-white);
    line-height: 4rem;
    padding: auto;
}

/*===================== PRODUCTS =====================*/

#products{
    background-color: var(--color-white);
    text-align: center;
    padding-block: 6rem;
    justify-content: center;
}
#products .content-section{
    height: max-content;
    padding-bottom: 6rem;
    max-width: 130rem;
    margin-inline: auto;
}

/* Estilo para a label */
#products label {
    text-align: left;
    font-size: 1.6rem;
    color: #333;
    display: block;
    margin-bottom: .8rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Estilo para o select */
#products select {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: .2rem solid #ccc;
    border-radius: .4rem;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo para o select ao receber foco */
#products select:focus {
    border-color: #66afe9;
    box-shadow: 0 0 .5rem rgba(102, 175, 233, 0.5);
    outline: none;
}

/* Estilo para as opções dentro do select */
#products option {
    padding: .10rem;
    color: #333;
}

/* Container para alinhar e espaçar a label e o select */
#products .container {
    max-width: 25rem;
    margin: 2rem 0;
    margin-left: 3rem;
}

#products h2{
    color: black;
    padding-bottom: 6rem;
}

#products .flex{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#products .card{
    background-color: var(--color-green);
    width: 19rem;
    height: 29rem;
    border-radius: 1.2rem;
    box-shadow: .4rem .4rem 1.2rem #aaaa;
    margin: 4rem;
}

#products .card img{
    width: 100%;
    height: 15rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

#products .card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    height: 50%;
}

#products .card h4{
    font-size: 1.8rem;
    color: var(--color-white);
    padding-bottom: 1rem;
}

#products .card span{
    color: var(--color-orange);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

#products .card button{
    background-color: var(--color-orange);
    height: 3rem;
    border: none;
    padding: .4rem;
    width: 80%;
    color: var(--color-green);
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: .8rem;
}


/*===================== ARTICLES =====================*/

#articles{
    background-color: var(--color-brown);
    height: 100vh;
}

#articles h2{
    margin-block: 6rem;
}

#articles .content-section{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 6rem;
}

#articles .container{
    width: 50rem;
    margin: 2rem;
}

#articles .card{
    background-color: #FFF8DC;
    width: 32rem;
    height: 32rem;
    border-radius: 1.2rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#articles .card:hover {
    transform: translateY(-1rem);
    box-shadow: 1.5rem 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

#articles .card img{
    width: 100%;
    height: 40%;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

#articles .card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    height: 50%;
    margin: 2rem;
}

#articles .card h4{
    font-size: 1.8rem;
    color: #333;
    margin-top: 2.5rem;
}

#articles .card p {
    color: #555;
    font-family: Arial, sans-serif;
}

/*===================== FOOTER =====================*/

footer {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 4rem 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 120rem;
    margin: 0 auto;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .logo-container .logo {
    max-width: 15rem;
    margin-bottom: 1rem;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer-form input,
  .footer-form button {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    max-width: 25rem;
    width: 100%;
  }
  
  .footer-form button {
    background-color: var(--color-orange);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .footer-form button:hover {
    background-color: var(--color-white);
    color: var(--color-green);
  }

  i.back-to-top{
    font-size: 4rem;
    position: fixed;
    right: 2.4rem;
    bottom: 2.4rem;
    color: black;

    visibility: hidden;
    opacity: 0;

    transition: .3s;
    transform: translateY(100%);
}

a .back-to-top.show{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 70rem){

    /*===================== GENERAL =====================*/
    body{
        overflow-x: hidden;
    }

    h1{
        font-size: 4rem;
        text-align: center;
        color: var(--color-white);
        margin-bottom: 2rem;
    }
    
    h3{
        font-size: 2rem;
        text-align: center;
        color: var(--color-white);
    }

    /*===================== NAVIGATION =====================*/

    .nav-list{
        display: flex;
        position: absolute;
        top: 11.9rem;
        width: 100vw;
        height: 83vh;
        background-color: var(--color-green);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .mobile-menu div{
            display: flex;
            width: 3.2rem;
            height: .2rem;
            background: var(--color-orange);
            margin: 1rem;
            margin-right: 3rem;
            transition: .3s;
    }

    .social-media{
        display: flex;
        margin-inline: auto;
    }

    .icon-redes{
        color: var(--color-white);
    }

    .icon-redes:hover{
        color: var(--color-orange);
    }
    

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(5rem);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    /*===================== HOME =====================*/

    #home{
        overflow: hidden;
    }

    /*===================== ABOUT =====================*/

    #about{
        padding-bottom: 4rem;
    }

    #about .content-section{
        height: max-content;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #about .image-m{
        max-width: 30rem;
        border-radius: 2rem;
        margin-inline: auto;
    }

    #about .text-about{
        text-align: center;
        width: 28rem;
        color: var(--color-white);
        margin-inline: auto;
    }
    #about .text-about p{
        text-align: center;
        width: 28rem;
        color: var(--color-white);
        line-height: 4rem;
    }
    /*===================== PRODUCTS =====================*/

    #products{
        background-color: var(--color-white);
        text-align: center;
        padding-block: 6rem;
        justify-content: center;
    }
    
    #products .content-section{
        height: fit-content;
    }

    /*===================== ARTICLES =====================*/

    #articles{
        height: max-content;
    }

    /*===================== FOOTER =====================*/

    footer{
        display: flex;
        padding-inline: 2rem;
        flex-direction: column;
    }
}