@charset "UTF-8";

/*===================== VARIABLES =====================*/

:root{
    font-size: 62.5%; /* 1rem = 10px*/
    /* fonts */
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
    --big-title-font-size: 6.5rem;
    --title-font-size: 3.5rem;
    --subtitle-font-size: 1.6rem;

    --header-height: 12rem;

    --hue-base: 250;
    --hue-base-second:100;

    /*HSL color mode*/
    --color-white: hsl(var(--hue-base), 27%, 96%);
    --color-green: hsl(var(--hue-base), 23%, 31%);
    --color-orange: hsl(var(--hue-base-second), 100%, 55%);
    --color-brown: hsl(var(--hue-base-second), 26%, 47%); 
    --color-yellow: hsl(60, 94%, 62%);
}
/* "" */

/*===================== RESET =====================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===================== GENERAL =====================*/

a{
    color: var(--color-white);
    text-decoration: none;
    list-style: none;
}

h1{
    font-size: var(--big-title-font-size);
    text-align: center;
    color: var(--color-white);
    margin-bottom: 2rem;
}

h3{
    font-size: var(--title-font-size);
    text-align: center;
    color: var(--color-white);
}

p{
    font-size: var(--subtitle-font-size);
    color: var(--color-white);
    line-height: 2.5rem;
    margin-block: 3rem;
    display: flex;
}

body{
    height: 100vh;

}
main{
    display: flex;
    flex-direction: column;
}

.content-section{
    display: flex;
}

.button {
    background-color: var(--color-orange); /* Cor de fundo verde */
    border: none; /* Sem bordas */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno do botão */
    text-align: center; /* Centralizar texto */
    text-decoration: none; /* Remover sublinhado do texto */
    display: inline-block; /* Exibição inline */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    margin: 4px 2px; /* Margens ao redor do botão */
    cursor: pointer; /* Muda o cursor para mãozinha */
    border-radius: 12px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Animação suave para mudança de cor */
}

.button:hover {
    background-color: var(--color-white); /* Cor de fundo ao passar o mouse */
}

.button:active {
   background-color: var(--color-brown); /* Cor de fundo ao clicar */
}

.social-media{
    display: flex;
    margin-right: 3rem;
    margin-left: 1.5rem;
    justify-content: space-between;
}

.icon-redes{
    margin: .5rem;
    margin-right: 1.5rem;
    font-size: 2.4rem;
    color: var(--color-orange);
    cursor: pointer;
}

.icon-redes:hover{
    color: var(--color-white);
}

/*===================== NAVIGATION =====================*/

    /*================= MOBILE ==================*/


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-green);
    height: var(--header-height);
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list li{
    letter-spacing: .4rem;
    margin-inline: 2rem;
    color: white;
    font-size: var(--subtitle-font-size);
    cursor: pointer;
}

.nav-list a li:hover{
    color: var(--color-orange);
}

.nav-list.active{
    transform: translateX(0);
}

.mobile-menu{
    cursor: pointer;
}

.mobile-menu div{
    display: none;
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-8px, -8px);
}

/*===================== HOME =====================*/

#home{
    width: 99vw;
    height: calc(100vh - var(--header-height));/*Recortar a altura do menu da imagem de fundo da home*/
    margin-inline: auto; 
    background-image: url("../../images/frango-glass.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home{ 
    max-width: 80rem;
    margin-top: 20rem;
    margin-inline: auto;
    text-align: center;
}
.dimensionar{
    width: 8rem;
    margin-left: 4rem;
}

/*===================== ABOUT =====================*/

#about{
    background-color: var(--color-brown);
    text-align: center;
    padding-top: 6rem;
    height: 100vh;
}

#about .content-section{
    flex-direction: column;
    justify-content: space-around;
}


h2{
    font-size: var(--title-font-size);
    color: var(--color-white);
    text-align: center;
    margin-inline: auto;
}

.text-about{
    text-align: center;
    width: 60rem;
    color: var(--color-white);
    margin-inline: auto;
}

.text-about p{
    text-align: center;
    height: 60rem;
    width: 60rem;
    color: var(--color-white);
    line-height: 4rem;
    padding: auto;
}

@media (max-width: 1026px){
    body{
        overflow-x: hidden;
    }
    #home{
        overflow: hidden;
    }
    .nav-list{
    display: flex;
    position: absolute;
    top: 11.9rem;
    width: 100vw;
    height: 83vh;
    background-color: var(--color-green);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }

    .social-media{
        display: flex;
        margin-inline: auto;
    }

    .icon-redes{
        color: var(--color-white);
    }

    .icon-redes:hover{
        color: var(--color-orange);
    }
    .mobile-menu div{
        display: flex;
        width: 3.2rem;
        height: .2rem;
        background: var(--color-orange);
        margin: 1rem;
        margin-right: 3rem;
        transition: .3s;
    }

    h1{
        font-size: 4rem;
        text-align: center;
        color: var(--color-white);
        margin-bottom: 2rem;
    }
    
    h3{
        font-size: 2rem;
        text-align: center;
        color: var(--color-white);
    }

    .text-about{
        text-align: center;
        width: 30rem;
        color: var(--color-white);
        margin-inline: auto;
    }
    .text-about p{
        text-align: center;
        height: 60rem;
        width: 30rem;
        color: var(--color-white);
        line-height: 4rem;
    }


    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
}